<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="localhost_effadat_Connection" connectionString="XpoProvider=MSSqlServer;data source=sql.cont2018.art;user id=sa;password=Aa_123456;initial catalog=effadat;Persist Security Info=true" />
        <add name="effadatnew.Properties.Settings.effadatConnectionString" connectionString="Data Source=DESKTOP-8QU4E44\sqlexpress;Initial Catalog=effadat;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>